* {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

.car {
    height: 70px;
    width: 50px;
    background-color: rgb(201, 65, 65);
    position: absolute;
    bottom: 120px;
}

.gameArea {
    width: 400px;
    height: 100vh;
    background-color: rgb(2, 18, 54);
    margin: auto;
    position: relative;
    overflow: hidden;
    border-right: 4px dashed #c8d6e5;
    border-left: 4px dashed #c8d6e5;
}

.lines {
    width: 8px;
    ;
    height: 100px;
    background-color: white;
    position: absolute;
    margin-left: 192px;
}

.animeCar {
    height: 70px;
    width: 50px;
    background-color: rgb(201, 65, 65);
    position: absolute;
    bottom: 120px;
}

.score {
    position: absolute;
    top: 15px;
    left: 40px;
    background: #10ac84;
    width: 250px;
    text-align: center;
    color: white;
    height: 70px;
    line-height: 70px;
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 5px 5px #777;
}
.startScreen{
    position: absolute;
    background-color: #ee5253;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    color: white;
    border: 1px solid #ff6b6b;
    padding: 15px;
    z-index: 1;
    text-align:center;
    width: 50%;
    margin: auto;
    cursor: pointer;
    letter-spacing: 5;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    box-shadow:  0 5px 5px #777;
    word-spacing: 3;
}
.CarGame{
    background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/80ff523f-ff84-457d-a547-464588d3a3d3/deoyuy7-53edba90-9fcd-4fff-bae2-512f809f6d36.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzgwZmY1MjNmLWZmODQtNDU3ZC1hNTQ3LTQ2NDU4OGQzYTNkM1wvZGVveXV5Ny01M2VkYmE5MC05ZmNkLTRmZmYtYmFlMi01MTJmODA5ZjZkMzYuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.uj6g_buI0S4FesnhLqazNcxL7VeaAcLsmaG7_Ksb2y4");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}